:root {
    --Primary-Color: #321D16;
    --TextColorLight: #F7F0ED;
    --main-font: 'Outfit', sans-serif;
    --header-font: 'Kurale', serif;
}

.AboutUs {
    width: 100%;
    height: 50rem;

    background: var(--Primary-Color);
    color: var(--TextColorLight);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4rem;
    gap: 1rem;
    align-items: center;
    position: relative; 
    overflow: hidden;
}

.AboutUs::before {
    content: "";
    position: absolute;
    inset: 0;

    background-color: #2c1609;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23321d16' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 4rem 4rem;
    
    pointer-events: none;
}

.AboutUs h1 {
    padding: 0;
    margin: 0;
}

.AboutContent {
    width: 100%;
    max-width: 1100px;

    display: flex;
    flex-direction: column; 
    gap: 1.5rem;

    border-radius: 1rem;
    overflow: hidden;
}

#AboutUsGrid {
    height: fit-content;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 1rem;
    border: 1px solid blue;
}


#AboutUsGridWrapper {
    border: 1px solid red;
}

.AboutLeft {
    width: 100%;
    
    border-radius: 1rem;
    overflow: hidden;

    transform: translateY(-10px);
}

#AboutUsImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 
        0 10px 25px rgba(0, 0, 0, 0.35),
        0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.AboutLeft:hover {
    transform: scale(1.03);
}

.AboutRight {
    padding: 1rem;
    width: 100%;
}

.AboutTabs {
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
    padding: 0 0 0 1.5rem ;

}

.tab {
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    display: block;

    text-align: center;
    text-decoration: none;

    color: rgba(160, 159, 159, 0.829);

    font-size: clamp(0.9rem, 1.6vw, 1.4rem);
    font-family: 'Times New Roman', Times, serif;

    border: 2px solid rgba(54, 54, 54, 0.616);
    border-radius: 2rem;

    position: relative;
    overflow: hidden;

    box-sizing: border-box;
    z-index: 2;
    transition: color 0.3s ease, border-color 0.3s ease;

    cursor: pointer;
}

.tab.active {
    background: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.74);
}

.tab::after {
    content: "";
    position: absolute;
    inset: 0;

    background: var(--BGColor);
    transform: scaleX(0);
    transform-origin: left;

    transition: transform 0.3s ease;
    z-index: -1;
}

.tab:hover::after {
    transform: scaleX(1);
}

.tab:hover {
    border-color: var(--BGColor);
    color: white;
}

.tab:active {
    border-color: var(--BGColor);
    color: white;
}

.tab-content {
    display: none;
    animation: fade 0.4s ease;
}

.tab-content.active {
    display: block;
}

@media (min-width: 600px) {
    .AboutRight {
        flex: 1;
    }

    .AboutLeft {
        width: 100%;
        height: 100%;
    }

    #AboutUsImg {
        width: 100%;
        height: 70%;
        border-radius: 1rem;
    }

    .AboutTabs {
        gap: 1rem;
    }

    #AboutUsGrid {
        flex-direction: row;
    }
}