:root {
    --BGColor: #172501;
    --ContentBG: #FFF7E0;
    --Primary-Color: #250F02;
    --TextColorLight: #FFF7E0;
    --TextColorDark: #3A1600;

    --main-font: 'Outfit', sans-serif;
    --header-font: 'Kurale', serif;
}

#DestBG {
    position: absolute;
    inset: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: brightness(0.156);
    transition: opacity 0.3s ease;

    z-index: 0;
}

.Destinations {
    position: relative;   
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(19, 19, 19);
    color: white;
}

#InfoWrap {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    height: 70%;
}

#InfoText {
    font-size: 1rem;
    color: white;
    max-width: 600px;
    padding: 1rem;
}

#InfoTitle {
    font-size: 2.3rem;
    line-height: 1;
    padding: 0.6rem;
}

#Button {
    margin-top: 1rem;
    font-size: 0.85rem;

    display: block;
    padding: 0.5rem 1.5rem;

    text-align: center;
    text-decoration: none;

    color: white;
    background: transparent;

    border: 2px solid white;
    border-radius: 2rem;

    position: relative;
    overflow: hidden;

    box-sizing: border-box;

    transition: color 0.3s ease, border-color 0.3s ease;
}

#Button::after {
    content: "";
    position: absolute;
    inset: 0;

    background: var(--BGColor);
    transform: scaleX(0);
    transform-origin: left;

    transition: transform 0.3s ease;
    z-index: -1;
}

#Button:hover::after {
    transform: scaleX(1);
}

#Button:hover {
    border-color: var(--BGColor);
    color: white;
}

.DCarousel {
    position: absolute;

    left: 0;
    bottom: 40px;

    width: 100%;
    max-width: 100vw; 
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.DTrack {
    display: flex;
    gap: 20.5px;

    position: absolute;
    left: 0;
    bottom: 0;
    
    transition: transform 0.4s ease;
    will-change: transform;
    z-index: 11;
}

#ImageContainer h1, 
#ImageContainer h3, 
#ImageContainer p{
    margin-left: 5%;
}

#ImageContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Dcard {
    width: 10rem;
    height: 13rem;
    border-radius: 1rem;

    background-size: cover;
    background-position: center;

    opacity: 0.6;
    transform: scale(0.9);
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 
    0 3px 10px rgba(0, 0, 0, 0.12),
    0 10px 25px rgba(0, 0, 0, 0.18);
    transition: transform 0.3s ease;

    transform: translateY(calc(var(--depth) * 20px)) 
            scale(calc(1 - var(--depth) * 0.10));

    pointer-events: auto;
    position: relative;
    z-index: 20;

}

.Dcard.active:hover {
    animation-play-state: running;
}

.locationInfoWrap {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 0.5rem;
    margin-left: 5%;
}

.LocationLogo {
    width: 40px;
    height: 40px;
    border: 1px solid red;
}

#DestinationCardLabel {
    width: fit-content;

    padding: 0.45rem 1rem;

    border-radius: 999px;

    background: #556B2F;
    color: white;

    font-size: clamp(0.7rem, 1.5vw, 0.9rem);
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    font-family: var(--main-font);

    box-shadow:
    0 3px 8px rgba(0,0,0,0.15);

    transition: 0.3s ease;
    
    cursor: none;
}

#DestinationCardLabel:hover {
    transform: translateY(-2px);
    background: #6B8440;
}

.DirectionsBtn {
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    padding: 0.9rem 1.2rem;

    margin: 1.2rem;

    margin: 0 auto;
    border-radius: 1rem;
    
    text-decoration: none;

    background: linear-gradient(
        135deg,
        #4f3d2f,
        #6b4a2f
    );

    color: white;

    font-family: var(--main-font);
    font-size: clamp(0.9rem, 2vw, 1rem);
    font-weight: 600;
    letter-spacing: 0.04em;

    box-shadow:
    0 6px 16px rgba(0,0,0,0.18);

    transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    opacity 0.25s ease;
}

.DirectionsBtn:hover {
    transform: translateY(-3px);

    box-shadow:
    0 10px 22px rgba(0,0,0,0.22);
}

.DirectionsBtn:active {
    transform: scale(0.98);
}

.DirectionsBtn img {
    width: 1.1rem;
    height: 1.1rem;
}

@keyframes bop {
    0%, 100% { transform: scale(1.1) translateY(-1.2rem); }
    50%  { transform: scale(1.1) translateY(-8px); }
}

.Dcard.active {
    opacity: 1;
    transform: scale(1.1) translateY(-1.2rem);
    animation: bop 0.9s ease-in-out infinite;
    animation-play-state: paused;
}

#DestinationTapped {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    box-shadow: 
    0 3px 10px rgba(0, 0, 0, 0.12),
    0 10px 25px rgba(0, 0, 0, 0.18);
    background-color: rgba(8, 8, 8, 0.548);
    backdrop-filter: blur(3px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;

    z-index: 2000;
}

#DestinationTapped.Show {
    opacity: 1;
    pointer-events: auto;
}

#DestinationTapped.Hide {
    opacity: 0;
    pointer-events: none;
}

#DDisplayCard {
    width: 90%;
    max-width: 1000px;
    height: 80vh;
    border: 1px solid blue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 1rem;

    background-color: var(--ContentBG);

    overflow: visible;

    position: relative;
    z-index: 10;
}

#DScrollContent {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 2rem;
    border-radius: 1rem;
}

#DScrollContent::-webkit-scrollbar {
    width: 5px;
}

#DScrollContent::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
    border-radius: 999px;
}

#DisplayCardBG {
    width: 90%;
    height: clamp(10rem, 15vw, 18rem);
    box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.18);
    background-color: red;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 0.5rem;

    margin: 1rem auto;

    position: relative;
    z-index: 10;
}

#DBack {
    position: absolute;
    top: -15px;
    right: -5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    box-shadow: 
    0 3px 10px rgba(0, 0, 0, 0.12),
    0 10px 25px rgba(0, 0, 0, 0.18);
    display: flex;
    align-items: center;
    justify-content: center;

    color: #F7F0ED;
    font-weight: bolder;

    background-color: #321D16;

    border: none;
    outline: none;

    border-radius: 50%;

    cursor: pointer;
    font-size: 1.2rem;

    z-index: 2100;

    transition: transform 0.3s ease;
}

#DBack:hover {
    transform: scale(1.2);
}

#LocationWrapper p {
    padding:0.5rem 0 0.5rem 0;
}

@media (min-width: 600px) {
    .Dcard {
        width: 14rem;
        height: 20rem;
    }

    #InfoTitle {
        font-size: 4rem;
        line-height: 1;
        padding: 0.6rem;
    }
}

@media (min-width: 900px) {

}

@media (min-width: 1200px) {

}
